name: Hello World
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Echo text
        run: apt update -y && apt upgrade -y

      - name: Install cowsay
        run: apt install cowsay -y

      - name: Dragon emoticon
        run: cowsay "Hello World"

        
